.joinPage{
    background-color: rgb(31, 29, 29);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.joinContainer{
  
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.joinContainer > img{
    width: 10vmax;
    border-radius:50%;
}

.joinContainer > h1{
    color: white;
    font-size: 2.5vmax;
    width: 25vmax;
    border-bottom: 0.2vmax solid white;
    text-align: center;
    padding: 1vmax;
    font-family: "Roboto";
    box-sizing: border-box;
   
}

#joinInput{
    width: 25vmax;
    padding: 1.5vmax;
    border: none;
    outline: none;
    font-size: 1.2vmax;
    margin: 2vmax;
    box-sizing: border-box;


}

.joinButton{

    width: 25vmax;
    padding:1.5vmax;
    border: none;
    outline: none;
    font-size: 1.2vmax;
    color: white;
    font-family: Roboto;
    box-sizing: border-box;
    background-color: crimson;
    transition: all 0.3s;
    cursor: pointer;
    margin-bottom: 0.5vmax;

}

.joinButton:hover{
    background-color: rgb(180, 27, 58);
}