.ChatPage{
    background-color: rgb(31, 29, 29);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ChatContainer{
    background-color: white;
    height: 60%;
    width: 50%;
}

.header{
    background-color: crimson;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header > h2{
    color: white;
    margin: 2.5vmax;
    font-size: 1.5vmax;
}

.header  img{
    margin: 2.5vmax;
    transition: all 0.3s;
    cursor: pointer;

}

.header:hover img{
    transform: scale(1.3);
}
.ChatBox{
    height: 70%;
    box-sizing: border-box;

}

.inputBox{
    height: 15%;
    display: flex;
    box-sizing: border-box;
}

#chatInput{
    border: none;
    background-color: white;
    padding: 2vmax;
    box-sizing: border-box;
    width: 80%;
    outline: none;
    font-size: 1.3vmax;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top: 0.2vmax solid rgb(16, 16, 16);
   

}

.sendBtn{
    background-color: crimson;
    color: white;
    border: none;
    width: 21%;
    transition: all 0.3s;
    cursor: pointer;
}

.sendBtn:hover{
    background-color: rgb(156,14,42);
}

.sendBtn > img{
    width:2.6vmax;
    filter: brightness(100) invert();
    transition: all 0.3s;
}

.sendBtn:hover img{
    transform: translateX(10px);
}